/.idea/
/.gradle/
/.gradle-local/
/.git/
/app/build/
/build/
/zowi-core/build/
/zowi-cli/build/
**/build/
.project
/bin/
local.properties
.classpath
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.buildship.core.prefs
aqtinstall.log
local.properties
