<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="576"
    android:versionName="2.0.0">

    <uses-feature android:name="android.hardware.bluetooth" android:required="true"/>
    <supports-screens android:requiresSmallestWidthDp="320"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Bluetooth clásico (para Android < 12) -->
    <uses-permission android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"
        android:maxSdkVersion="30"/>

    <!-- Bluetooth moderno (Android 12+) -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE"/>

    <application
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:name="com.bq.zowi.ZowiApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true">

        <activity
            android:name="com.bq.zowi.views.splash.SplashViewActivity"
            android:screenOrientation="landscape"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.bq.zowi.views.welcome.WelcomeViewActivity"
            android:screenOrientation="landscape"
            android:exported="false"/>
        <activity
            android:name="com.bq.zowi.views.wizard.WizardViewActivity"
            android:screenOrientation="landscape"
            android:exported="false"/>
        <activity
            android:name="com.bq.zowi.views.interactive.home.HomeViewActivity"
            android:screenOrientation="landscape"
            android:exported="false"/>
        <activity
            android:name="com.bq.zowi.views.interactive.settings.SettingsViewActivity"
            android:screenOrientation="landscape"
            android:exported="false"/>
        <activity
            android:name="com.bq.zowi.views.interactive.settings.CalibrationViewActivity"
            android:screenOrientation="landscape"
            android:exported="false"/>
        <activity
            android:name="com.bq.zowi.views.interactive.achievements.AchievementsViewActivity"
            android:screenOrientation="landscape"
            android:exported="false"/>
        <activity
            android:name="com.bq.zowi.views.interactive.pad.PadViewActivity"
            android:screenOrientation="landscape"
            android:exported="false"/>
        <activity
            android:name="com.bq.zowi.views.interactive.timeline.TimelineActivity"
            android:screenOrientation="landscape"
            android:exported="false"/>
        <activity
            android:label="@string/zowi_says_label"
            android:name="com.bq.zowi.views.interactive.zowiapps.minigames.ZowiSaysMinigameActivity"
            android:screenOrientation="landscape"
            android:exported="false"/>
        <activity
            android:label="BOCAS"
            android:name="com.bq.zowi.views.interactive.zowiapps.minigames.MouthsMinigameActivity"
            android:screenOrientation="landscape"
            android:exported="false"/>
        <activity
            android:name="com.bq.zowi.views.interactive.zowiapps.MouthsEditorActivity"
            android:screenOrientation="landscape"
            android:exported="false"/>
        <activity
            android:label="@string/zowi_runner_label"
            android:name="com.bq.zowi.views.interactive.zowiapps.minigames.ZowiRunnerMinigameActivity"
            android:screenOrientation="landscape"
            android:exported="false"/>
        <activity
            android:label=""
            android:name="com.bq.zowi.views.interactive.projects.ProjectViewActivity"
            android:screenOrientation="landscape"
            android:exported="false"/>
        <activity
            android:label=""
            android:name="com.bq.zowi.views.interactive.projects.ProjectQuizViewActivity"
            android:screenOrientation="landscape"
            android:exported="false"/>
    </application>
</manifest>